language: php

sudo: required
dist: trusty

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script: phpunit

notifications:
  slack: roomify:CZvo6Wik7hwNEr055RRLud9j
