<?xml version="1.0"?>
<mysqldump xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<database name="roomifydistro">
	<table_data name="bat_event_availability_event_day_state">
	</table_data>
	<table_data name="bat_event_availability_event_hour_state">
	</table_data>
	<table_data name="bat_event_availability_event_minute_state">
	</table_data>
</database>
</mysqldump>
